macro_cmd_v: macro_cmd_v{
compatible = "zmk,behavior-macro";
label = "macro_cmd_v";
#binding-cells = <0>;
bindings = <&kp LEFT_COMMAND>, <&kp V>;
};
macro_cmd_c: macro_cmd_c{
compatible = "zmk,behavior-macro";
label = "macro_cmd_c";
#binding-cells = <0>;
bindings = <&kp LEFT_COMMAND>, <&kp C>;
};
macro_cmd_x: macro_cmd_x{
compatible = "zmk,behavior-macro";
label = "macro_cmd_x";
#binding-cells = <0>;
bindings = <&kp LEFT_COMMAND>, <&kp X>;
};
macro_cmd_z: macro_cmd_z{
compatible = "zmk,behavior-macro";
label = "macro_cmd_z";
#binding-cells = <0>;
bindings = <&kp LEFT_COMMAND>, <&kp Z>;
};
macro_ct_alt_sc: macro_ct_alt_sc{
compatible = "zmk,behavior-macro";
label = "macro_ct_alt_sc";
#binding-cells = <0>;
bindings = <&kp RCTRL>, <&kp LEFT_ALT>, <&kp SPACE>;
};